*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.interface{
    height: 90vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/**----------DiV1-------------*/
.div1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.div1 .leftImage{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div1 .loginBox{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/**---------FORM--------------*/
.loginBox form{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form #instaText{
    margin: 10px;
    width: 60%;
}
.div1 .loginBox #facebookicon{
    width: 1rem;
}
.div1 .loginBox #facebookLogin{
    font-weight: 600;
    font-family:  sans-serif;
    font-size: 0.8rem;
    color: blue;
}

form input[type="text"],
form input[type="password"],
form input[type="submit"]{
    margin-top: 4px;
    width: 80%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
}
form input[type="submit"]{
    background-color: rgba(65, 65, 228, 0.842);
    margin: 30px;
    color: white;
    border-radius: 8px;
    }

form #or{
    letter-spacing: -2px;
}

form #fb{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-decoration: none;
}
form #fb #facebookLogin{
    margin-left: 5px
}
form #forgotPassword{
    color: black;
    text-decoration: none;
}
form #signup {
    margin-top: 20px;
}
form #signup a{
    text-decoration: none;
    color: rgb(92, 92, 250);
}

/**---------DIV2---------------*/
.div2{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div2 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;

}
.div2 ul li a, .div2 #copyright{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.514);
    margin: 8px;
}